<h3>Agradecimientos</h3>
<div class="row">
    <div class="col-lg-4">
        <img width="100%" src="assets/img/omdb.png">
        <p>A la API <a href="http://omdbapi.com" target="_blank">OMDb.com</a> por darme acceso gratuito a sus datos para el desarrollo de esta aplicación</p>
    </div>
    <div width="100%" class="col-lg-4">
        <img src="assets/img/openwebinars.png">
        <p>A <a href="http://openwebinars.net" target="_blank">OpenWebinars.net</a> por darme acceso gratuito a sus videocursos de formación, con los que estoy aprendiendo Angular</p>
    </div>
    <div width="100%" class="col-lg-4">
        <img src="assets/img/iesjoseplanes.png">
        <p>A mis alumnos y alumnas de 2º DAW del <a href="http://iesjoseplanes.es" target="_blank">IES José Planes</a> por aguantar mis tostones de clases</p>
    </div>
</div>
