<div class="row" id="pie">
  <div class="col-lg-6">
      <h3>Autor: Manuel lópez Fernández</h3>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
          <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
              licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional
      </a>
  </div>
  <div class="col-lg-6">
      <h3>Datos de The Open Movie Database</h3>
      <a href="www.omdb.com">Visitar OMDb</a>
  </div>
</div>
