<table class="table table-striped">
  <thead class="thead-light">
    <tr><th>MODELO</th></tr>
  </thead>
  <tbody>
    <tr><td>
      <div class="form-group">
        <input type="text" class="form-control" id="modelo" placeholder="Nombre del modelo">
      </div>
    </td></tr>
  </tbody>
</table>
<table id="fabFilters" class="table table-striped">
  <thead class="thead-light">
    <tr><th>FABRICANTE</th></tr>
  </thead>
  <tbody>
    <tr><td>
      <div class="form-group">
        <label for="fabList">Elige un fabricante</label>
        <select class="form-control" id="fabList">
          <option value="0">(Elige un fabricante)</option>
          <!-- RELLENAR CON UN LISTADO DE TODOS LOS FABRICANTES -->
        </select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="fab1" checked>
        <label class="form-check-label" for="fab1">Fabricante1</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="fab2" checked>
        <label class="form-check-label" for="fab2">Fabricante2</label>
      </div>
    </td></tr>
  </tbody>
</table>
<table id="tecFilters" class="table table-striped">
  <thead class="thead-light">
    <tr><th>TECNOLOGÍA</th></tr>
  </thead>
  <tbody>
    <tr><td>
      <div class="form-group">
        <label for="techList">Elige una tecnología</label>
        <select class="form-control" id="techList">
          <option value="0">(Elige una tecnología)</option>
          <!-- RELLENAR CON UN LISTADO DE TODOS LAS TECNOLOGÍAS -->
        </select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="tec1" checked>
        <label class="form-check-label" for="tec1">Tecnología1</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="tec2" checked>
        <label class="form-check-label" for="tec2">Tecnología2</label>
      </div>
    </td></tr>
  </tbody>
</table>
<button class="btn btn-primary" id="resetFilters">Borrar filtros</button>
